.clients {
  --card-gap: 30px;
  --card-item: 6;

  &__item {
    height: 92px;
  }

  &__link {
    transition: color var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 4px;
    color: var(--color-icon);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;

    .clients__link:hover &,
    .clients__link:focus & {
      fill: currentColor;
    }
  }
}
