.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    transition: color var(--transition), background-color var(--transition),
      box-shadow var(--transition);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    border: none;
    border-radius: 4px;

    &:focus,
    &:hover {
      color: var(--secondary-title-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.projects {
  &__item {
    border: 1px solid #eeeeee;
  }

  &__link {
    transition: box-shadow var(--transition);
    display: block;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay-text {
    transition: transform var(--transition);
    transform: translateY(100%);
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    background-color: rgba(33, 150, 243, 0.9);

    .projects__link:hover &,
    .projects__link:focus & {
      transform: translateY(0);
    }
  }

  &__wrap {
    padding: 20px 24px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }
  &__group {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}
