.logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &--white {
    color: var(--secondary-title-color);
  }
  &--black {
    color: var(--title-text-color);
  }
}
